<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="/css/style.css" type="text/css" rel="stylesheet">

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
   
<div class="container">
    <!-- Login Form -->
    <div class="row">
      <div class="fadeIn first">
        <img src="/images/logo.png" id="icon" alt="User Icon" />
      </div>
    <div class="col-md 8">
    <form action="/signin" method="POST"class="form-group">
      <input type="text" id="username" class="fadeIn second" name="username" placeholder="Username">
      <input type="password" id="password" class="fadeIn third" name="password placeholder="password">
      <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
    </form>

    <!-- Remind Passowrd -->
    </div>
    </div>
    <div id="formFooter">
      <a class="underlineHover" href="/resetuser">Forgot Password?</a>
      <a class="underlineHover" href="/register">New Sign UP?</a>
    </div>
</div>
  </div>
</div>