<h4>Navigation Links</h4>
<a href="/user">Add User</a></br>
<a href="/category">Add Category</a></br>
<a href="/product"> Add Product</a></br>
<a href="/inventory">Manage Inventory</a></br>
<a href="/epos">EPOS</a>