<div style="text-align: left;">
<h5>Manage</h5>
<a href="/addterm">Add Term</a></br>
<a href="/addclass">Add Class</a></br>
<a href="/addteacher">Add Teacher</a></br>
<a href="/addstudent">Add Students</a>
</div>