<h5>Navigation Links</h5>
<a href="/register">Add Users</a></br>
<a href="/addschool">Manage Schools</a></br>
<a href="/addcompany">Manage Companies</a></br>
<a href="/sales">Manage Sales</a></br>
<a href="/epos">EPOS</a>