<h5>Summary Reports</h5>
<a href="/users">View Users</a></br>
<a href="/schools"> View Schools</a></br>
<a href="/products"> View Products</a></br>
<a href="/companys"> View Companies</a></br>
<a href="/suppliers"> View Suppliers</a></br>