<h4>Navigation Links</h4>
<a href="/user">Users</a></br>
<a href="/product">Products</a></br>
<a href="/category">Category</a></br>
<a href="/supplier">Suppliers</a></br>
<a href="/employee">Employees</a></br>
<a href="/customer">Customers</a></br>
<a href="/price">Set prices</a></br>