<h3>Summary Reports</h3>
<a href="/users">View Users</a></br>
<a href="/products"> View Products</a></br>
<a href="/employees"> View Employees</a></br>
<a href="/products"> View Products</a></br>
<a href="/prices"> View Prices</a></br>
<a href="/suppliers"> View Suppliers</a></br>
<a href="/customers"> View Customers</a></br>
<a href="/shops"> View Shops</a></br>
<a href="/shop">Shop Now</a></br>